<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pore Pressure Data Visualization</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    
    <!-- file source links to render locally... -->
    <!-- <link rel="stylesheet" href="../static/css/map2.css"/> -->

    <!-- file source links to render via Flask app... -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map2.css') }}">

    <!-- leaflet-choropleth JavaScript -->
    <script type="text/javascript" src="static/js/choropleth.js"></script>

</head>
<body>

    <div id="map2"></div>
    <div id="dateDropdownContainer"></div> <!-- Add a container for the dropdown -->
    <div class="squareLayer"></div> <!-- Add a the squares -->

    <!-- leaflet.timeline plugin - file source links to render locally...-->
    <!-- <script src="../static/js/leaflet.timeline.js"></script> -->
    <!-- <link rel="stylesheet" href="../static/css/leaflet.timeline.css"/> -->

    <!-- leaflet.timeline plugin - file source links to render via Flask app...-->
    <!-- <script src="{{ url_for('static', filename='js/leaflet.timeline.js') }}"></script> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.timeline.css') }}"> -->

    
    <!-- map initialization file and layer files - file source links to render locally... -->
    <!-- <script src="../static/js/map2.js"></script> -->
    <!-- <script src="../static/js/map2_injection_layer.js"></script> -->
    <!-- <script src="../static/js/map2_seismic_layer.js"></script> -->
    <!-- <script src="../static/js/map2_pore_pressure_layer.js"></script> -->
    <!-- <script src="../static/js/map2_basin_outline_layer.js"></script> -->

    <!-- map initialization file and layer files - file source links to render via Flask app... -->
    <script src="{{ url_for('static', filename='js/map2.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/map2_injection_layer.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/map2_seismic_layer.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/map2_pore_pressure_layer_dropdown.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/map2_pore_pressure_layer_timeline.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/map2_basin_outline_layer.js') }}"></script> -->
    
</body>
</html>
