<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pore Pressure Data Visualization</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <!-- <link rel="stylesheet" href="./static/leaflet.timeline.css"/> -->
    <!-- <script src="./static/leaflet.timeline.js"></script> -->
    <link rel="stylesheet" href="./static/map2.css"/>
</head>
<body>

<div id="map2"></div>

    <!-- leaflet.timeline plugin -->
    <script src="./static/leaflet.timeline.js"></script>
    <link rel="stylesheet" href="./static/leaflet.timeline.css"/>
    
    <!-- map initialization file and layer files -->
    <script src="./static/map2.js"></script>
    <!-- <script src="./static/map1_injection_layer.js"></script> -->
    <!-- <script src="./static/map1_seismic_layer.js"></script> -->
    <script src="./static/map2_pore_pressure_layer.js"></script>
    <!-- <script src="./static/map1_basin_outline_layer.js"></script> -->

</body>
</html>
